* {
    margin: 0px;
}
body {
    background-color: rgb(0,0,0);
}

#title {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.liteBrite {
    text-align: center;
    font-family: Impact, fantasy;
    color: rgb(243, 217, 87);
}


  
  #sketchboard {
    display: grid;
    margin: auto;
    width: 650px;
    height: 600px;
    grid-gap: 0.25em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    padding: .6em;
    border:solid 1px rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  .gridPiece {
    width: auto;
    height: auto;
    padding: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100%;
    /*text-align: center;*/
  
  }

  .gridPiece:hover {
    background-color: rgb(50, 50, 50);
  }

  #footer {
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
  }

  #size-select {
    padding: 6px 18px;
    font-family: Impact, fantasy;
    border-radius: 5px;
    background-color: rgb(0,0,0);
    color: rgb(243, 217, 87);
  }

  #size-select:hover {
    background-color: rgb(243, 217, 87);
    color: rgb(0,0,0);
  }

  #clearButton {
    padding: 6px 18px;
    font-family: Impact, fantasy;
    font-size: medium;
    border-radius: 5px; 
    background-color: rgb(243, 217, 87);
  }

  #clearButton:hover {
    background-color: rgb(0,0,0);
    color:rgb(255, 255, 255);
    
  }